<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>post</title>
	</head>
	<body>
		<header>Define a circle</header>
		<form name="circle" action="" method="post">
			<div><b>latitude</b>
				<input name="latitude" type="text"/>
				<b>longitude</b>
				<input name="longitude" type="text" />
				<select name="radius">
					<option value="100">100</option>
					<option value="200">200</option>
					<option value="500">500</option>
				</select>
			</div>
		    <br>
		    <div>
		    	<b>Post a meesage</b> <br>
		    	<div>
		    	<b>Title</b>
		    	<input name="title" type="text" size="60">
		    	</div>
		    	<textarea name="message" cols="50" rows="10"></textarea>
		    	<input type="submit"/>
		    </div>						
		</form>
		
	</body>
</html>
